/* CORPO */

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

main li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

main li:hover {
    color: #C78C19;
    border: 4px solid #C78C19;
}

main li:active {
    color: #088C19;
    border: 4px solid #088c19;
}

main h2 {
    font-size: 30px;
    font-weight: bold;
}

main li:hover h2 {
    font-size: 34px;
}

.descricaoProduto {
    font-size: 18px;
}

.precoProduto {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}